#backButton {
    background-color: rgb(19, 158, 205); /* Light blue background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding to make the button bigger */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to a hand when hovering */
  }

  /* CSS for button hover effect (optional) */
  #backButton:hover {
    background-color: blue; /* Darker blue background color on hover */
  }