#backButton {
  background-color: rgb(19, 158, 205); /* Light blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding to make the button bigger */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to a hand when hovering */
  margin-bottom: 10px;
  width: 120px; /* Adjusted width */
  height: 50px; /* Adjusted height */
  font-size: 1.2em; /* Increased font size */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* CSS for button hover effect */
#backButton:hover {
  background-color: rgb(17, 140, 180); /* Slightly darker blue background color on hover */
}

  /* CSS for the big buttons */
  .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with 200px min width */
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* CSS for the big buttons */
  .big-button {
    background-color: rgb(19, 158, 205);
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .big-button:hover {
    background-color: blue;
  }

  #bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  #total{
    margin-right: 50px;
  }
  
  #payButton{
    background-color: rgb(19, 158, 205); /* Light blue background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding to make the button bigger */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to a hand when hovering */
    margin-bottom: 10px;
    width: 100px;
    height: 60px;
    font-size: larger;
  }
  #payButton:hover {
    background-color: blue; /* Darker blue background color on hover */
  }
  
  #search{
    margin-left: 25%;
    height: 40px;
    width: 200px;
  }